# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data
data/
outputs/

# Environment variables
.env

# MacOS
.DS_Store
